.t-store__card__bgimg, .t-store__card__bgimg_second {
    border-radius:15px;
}


html {
    /* укажи цвет фона html */
    background: #040404;
}


    .t661__bgimg_16-9 {
        border-radius:15px;
    }




     .t661__bgimg_3-2 {
    border-radius: 15px;
    }

